@tailwind base;
@tailwind components;
@tailwind utilities;






/* globals.css */
body {
  margin: 0;
  overflow: hidden; /* Hide overflow during GSAP animations */
}

.container {
  height: 100vh; /* Ensure container takes full viewport height */
}

.section {
  height: 100vh; /* Ensure each section takes full viewport height */
  width: 100%; /* Ensure sections take full width */
}
